body
{
  background-color: #eef6fc;
}
.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 200px;
}
.black-button{
  backgroundColor: "#000000"
}